body {
    background-color: #FFEBCD;
    color: #D2691E;
}

header, main, nav, footer {
    text-align: center;
}

nav a {
    padding:15px;
    padding-bottom:4px;
    font-size: 1.8em;
    text-decoration: none;
    color: #FF7F50;
}

nav a:hover {
    border-bottom:2px #7FFF00 solid;
    font-size: 2em;
    transition: .9s;
    color: #7FFF00;
}

main {
    display: flex;
    justify-content: center;
}

footer {
    color: black;
    font-size: 10px;
}

table {
    margin: 0px auto;
}

td {
    padding-right: 10px;
    font-size: 1.3em;
}

td strong {
    color: orange;
}

#table-header {
    background-color: #351a00;
}

.table-row {
    background-color: #753900;
}

ul {
    width: 500px;
    margin: 0 auto;
    text-align: left;
}

.hobby {
    color: blue;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 4em;
    margin-bottom: 0px;
}
