body {
    background-color: #FFEBCD;
    color: #D2691E;
}

header, main, nav, footer {
    text-align: center;
}

nav a {
    padding:15px;
    padding-bottom:4px;
    font-size: 1.8em;
    text-decoration: none;
    color: #FF7F50;
}

nav a:hover {
    border-bottom:2px #7FFF00 solid;
    font-size: 2em;
    transition: .9s;
    color: #7FFF00;
}

main {
    display: flex;
    justify-content: center;
}

footer {
    color: black;
    font-size: 1em;
}